<appSettings>
	<add key="lEnvironment" value="Loc" />

	<add key="iCodAplicacion" value="55" />
	
	<!--IDM LOGIN -->
	<add key="LoginEndPoint" value="https://app_desarrollo.midis.gob.pe/Sis_ClientAuth_Dev/" />

	<!--PERFILES-->
	<add key="Operador" value="181"/>
	<add key="Coordinador" value="182"/>
	<add key="Supervisor" value="200"/>
	
	<!--USUARIOS EXTERNOS E INTERNOS-->
	<add key="Usuarios_externos" value="{
		&quot;EVILELA&quot;: 75,
		&quot;OADRIANZEN&quot;: 318,
		&quot;RDONGO&quot;: 32,
		&quot;09886332&quot;: 21,
		&quot;10681624&quot;: 21,
		&quot;APOYO1_OAC&quot;: 8,
	}"/>
	
	<add key="Method_RestablecerClave" value="Usuario/RestablecerClave/" />

	<!-- Por defecto por ASP.NET - NO MODIFICAR -->
	<add key="owin:appStartup" value="StartupConfiguration" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="log4net.Config" value="Config/log4net.config"/>
	<add key="log4net.Config.Watch" value="True"/>
	<!-- Por defecto por ASP.NET - NO MODIFICAR -->
</appSettings>